* {
  outline: none;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}

.full-page {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

/* Header */

.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  border-bottom: 1px solid #BEE38E;
  background-color: rgba(0,0,0,.1);
}

.logo img {
  display: flex;
  width: 120px;
  opacity: 0.75;
}

.lending-nav {
  position: absolute;
  bottom: 0; left: 0; right: 0;
}

.main-nav ul,
.lending-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; 
}

.main-nav ul li a {
  padding: 20px 20px;
  font-family: 'OpenSans', sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.icons {
  color: #BEE38E;
  margin: 5px;
}

.video-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: hidden;
  background-color: #7fb636;
  background-image: url("img/2.jpg");
  background-size: cover;
  z-index: -2; 
}

.bg-video {
  width: 101%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(img/pattern.png);
  background-color: rgba(0, 0, 0, .1);
  z-index: -1;
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 120px);
  position: relative;
  text-align: center;
  padding: 0 40px; 
}

.main-title h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: #fff;
  margin: 20px;
}

.main-title h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  margin-bottom: 60px;
}

.donate-btn {
  padding: 10px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  vertical-align: middle;
  border: none;
  user-select: none;
  border-radius: 25px;
  transition: all .3s ease-out;
  background-color: orange;
  margin-bottom: 80px;
}

.donate-btn:hover { 
  text-decoration: none; 
  box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
  background-color: #fff;
  color: orange;
  transition: all .3s ease-out;
}

.lending-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  padding: 10px 40px;
  margin: 0;
  background-color: #7fb636;
  opacity: .85;
}

.lending-nav ul li a {
  padding: 20px 10px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  margin: 0;
  text-decoration: none;
  white-space: nowrap;
}

/* Что такое «Зелёный офис» */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.advantages {
  position: relative;
}

.fade1 {
  margin-top: 22vh;
}

.fade1 .advantage {
  height: 400px;
}

.advantage-content {
  margin: auto;
  width: 210px;  
  padding: 0 35px 20px;
  text-align: center;
  border-radius: 28px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.17), 0 10px 10px rgba(0,0,0,0.15);
}

.advantage-content h3 {
  text-align: center;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;   
}

.advantage-content h3 p {
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
}

.advantage-content i {
  font-size:  72px;
  margin: auto;
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
}

.advantage .mixicon {
  margin-bottom: 40px;
}

.advantage1 {
  border-top: 1px solid orange;  
}

.advantage1 h3,
.advantage1 .mixicon {
  background-image: url("img/c1.png");
  background-size: cover;
}

.advantage2 h3,
.advantage2 .mixicon {
  background-image: url("img/c2.png");
  background-size: cover;
}

.advantage2 {
  border-top: 1px solid red;   
}

.advantage3 {
  border-top: 1px solid green;  
}

.advantage3 h3,
.advantage3 .mixicon {
  background-image: url("img/c3.png");
  background-size: cover;
}

.advantage4 {
  border-top: 1px solid #0066cc;  
}

.advantage4 h3,
.advantage4 .mixicon {
  background-image: url("img/c4.png");
  background-size: cover;
}

.earth {
  position: absolute;
  top: 40vh; 
  left: 0; right: 0;
  height: 300px;
  background-image: url("img/earth.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;  
}

/* Как сделать офис зелёным */

.title-green {
  font-size: 44px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  color: #7fb636;
  padding: 60px 20px 60px;
  margin: 0 auto;
  text-align: center;
}

.fade2 {
  margin-top: 30px;
}

.instruction h3 {
  text-align: center;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  background-image: url("img/c3.png");
  background-size: cover;
  margin-bottom: 40px;
}

.instruction h3 p {
  font-size: 44px;
  color: #000;
  background: #fff;
  mix-blend-mode: lighten;
}

.instruction h3.instruction-title {
  background-image: none;
}

.instruction h3.instruction-title p {
  color: #7fb636;
}

.fade2 div img {
  margin: auto;
  width: 360px;
  height: 360px;
  position: relative;
  margin-bottom: 20px;
}

.instruction-container {
  position: relative;
}

.instruction-text {
  position: absolute;
  top: 0;left: 0;
  width: 300px;
  padding: 0 10px;
  min-height: 70px;
  font-size: 16px;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.instruction-text1 {
  top: 0px;
  left: calc(50vw - 560px);
}

.instruction-text2 {
  top: 280px;
  left: calc(50vw - 560px);
}

.instruction-text3 {
  top: 0px;
  left: calc(50vw + 135px);
}

.instruction-text4 {
  top: 280px;
  left: calc(50vw + 135px);
}

.instruction-text1:before,
.instruction-text2:before,
.instruction-text3:before,
.instruction-text4:before {
  content: "";
  position: absolute;  
  width: 60px;
  height: 1px;
  background-color: #444;
}

.instruction-text1:before {
  left: 330px;
  top: 35px;
  transform-origin: 0 0;
  transform: rotate(30deg);
}

.instruction-text2:before {
  left: 330px;
  top: 25px;
  transform-origin: 0 0;
  transform: rotate(-30deg);
}

.instruction-text3:before {
  left: -70px;
  top: 35px;
  transform-origin: right 0;
  transform: rotate(-30deg);
}

.instruction-text4:before {
  left: -70px;
  top: 25px;
  transform-origin: right 0;
  transform: rotate(30deg);
}


/* Команда */

.main-content { 
  margin: 0 auto;
  padding: 0 40px;
}

.team {
  padding: 0 40px;
}

.person {
  min-height: 500px;
  background-color: #fff;
  border: 1px solid #8CC63F; 
  margin: 7px;
}

.slick-center {
}

.person-photo {
  width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.person-name {
  margin-left: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #7fb636;
}

.person blockquote {
  font-size: 18px;
  min-height: 100px;
}

.person-social {
  text-align: center;
}

.social-icons {
  color: #7fb636;
  opacity: 0.75;
  font-size: 24px;
  margin: 5px;
  margin-bottom: 20px;
}

/* Деятельность */

.action-point {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  padding: 40px;
}

.action-point:last-child {
  margin-bottom: 0;
}

video {
  width: 480px;
  height: 268px;
  margin: 18px 40px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.description {
  box-sizing: border-box;
  width: 49%;
  padding: 0px 40px;
}

.description h3 {
  margin: 0;
  text-align: left;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;  
  color: #7fb636;
}

.description h4 {
  position: relative;
  padding: 0 10px;
  margin: 0 0 0 20px;
  color: #444; 
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; 
  font-size: 24px;
}

.description h4:before {
  content: "\f0ac";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #7fb636;
  font-size: 18px;
  position: absolute;
  top: 7px;
  left: -20px;
}

.description-text {
  font-size: 18px;
  color: #444;
  text-align: justify;
}

.description-text strong {
  font-weight: normal;
}

/* Результаты */

.project {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 60px;
  margin: 0;
}

.project-video {
  margin-top: 80px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.project-video video {   
  width: 236px;
  height: 236px;
  object-fit: cover;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
}

.project-icon {
  width: 80px;
  height: 80px;
  border: 2px solid #8CC63F; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.project-icon i {
  font-size: 36px;
  color: #7fb636;
  transition: 1s;
}

.project-line {
  margin: 0 auto;
  width: 2px;
  height: 100%;
  min-height: 100px;
  background-color: #8CC63F;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  width: 45%;
  padding: 0;
}

.project-title {
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0 auto 20px;
  text-align: center;
  color: #7fb636;
}

.project-text {
  margin: 20px 40px;
  font-size: 18px;
  text-align: center;
}

.project-text span {
  display: block;
  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px; 
}


/* Контакты */

.contacts .title-green {
  padding-bottom: 0px;
}

.contact {
  padding: 20px 40px;
}

.contact p {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
}

.title-contacts {
  font-size: 44px;
  margin: 0 auto;
  text-align: center;
}

.names {
  display: flex;
  justify-content: space-between;
}

.main-form {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.title-green {
  margin: 0 auto;
}

.main-form input,
.donate-form input {
  box-sizing: border-box;
  padding: 5px 15px;
  border: 1px solid #999; 
  margin-bottom: 10px;
}

.main-form input::-webkit-input-placeholder,
.donate-form input::-webkit-input-placeholder,
.main-form textarea::-webkit-input-placeholder { 
  font-size: 16px; 
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

.main-form input::-moz-placeholder,
.donate-form input::-moz-placeholder,
.main-form textarea::-webkit-input-placeholder { 
  font-size: 16px; 
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;
} 

.main-form input:-ms-input-placeholder,
.donate-form input:-ms-input-placeholder,
.main-form textarea::-webkit-input-placeholder { 
  font-size: 16px; 
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;
}

.main-form input:focus::-webkit-input-placeholder,
.donate-form input:focus::-webkit-input-placeholder,
.main-form textarea:focus::-webkit-input-placeholder {color: transparent}
.main-form input:focus::-moz-placeholder,
.donate-form input:focus::-moz-placeholder,
.main-form textarea:focus::-webkit-input-placeholder {color: transparent}
.main-form input:focus:-ms-input-placeholder,
.donate-form input:focus:-ms-input-placeholder,
.main-form textarea:focus::-webkit-input-placeholder {color: transparent}

.name,
.email {
  width: calc(50% - 5px);
  height: 40px;  
}

.text {
  width: 100%;
  height: 40px;
}

.textaera {
  box-sizing: border-box;
  width: 100%;
  height: 240px;
  font-size: 18px; 
  color: #444;
  padding: 5px 15px;
  border: 1px solid #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;
  resize: none;
}

.send-btn {
  width: 100%;
  height: 70px;
  line-height: 60px;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif; 
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
  color: #FFF;
  background-color: #7fb636;
}

.send-btn:hover { 
  text-decoration: none; 
  box-shadow: 0 4px 10px 0px rgba(0,0,0,0.225);
  background-color: #8cc63f;
}

/* Footer */

footer {
  height: 240px;
  background-color: #261C11;
  background-image: url("img/footage-bg.jpg");
  background-size: cover;
  background-position: center 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #fff;
}

.footer-container { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

.footer-logo img,
.copyright {
  width: 10vw;
  min-width: 120px;
}

.footer-social {
  font-size: 24px;
  text-align: center;
}

.footer-social i {
  width: 40px;
  height: 40px;
  margin: 5px;
  text-align: center;
  line-height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
}

/* Хочу помочь */

.donate {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  color: #444;
  z-index: 1;
  background-color: #fff;
  border-left: 2px solid #7fb636;
  box-shadow: -2px 0 5px 0 rgba(0,0,0,0.225);
  transition: 1s;
}

.donate:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 800px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.6);
}

.donate-close-btn {
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  font-size: 20px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif; 
  text-align: center;
  text-transform: uppercase;
  color: #999;
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;
}

.donate-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-right: 20px;
}

.donate-select {
  height: 40px;
  font-size: 18px; 
  color: #444;
  padding: 5px 15px;
  border: 1px solid #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;
  width: 80%;
  margin-bottom: 40px;    
}

.donate-amounts {
  display: flex;
  align-items: center;
  justify-content:space-around;
  width: 80%;
  height: 40px;
  border: 1px solid #999;
  margin-bottom: 40px;
}

.donate-amount  {
  text-align: center;
  line-height: 40px;

  text-align: center;
}

.donate-amounts span {
  height: 36px;
  width: 1px;
  background-color: #999;
}

.donate-names {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.donate-name {
  width: calc(50% - 5px);
  height: 40px; 
}

.donate-email {
  width: 80%;
  height: 40px;
  margin-top: 10px;
}

.donate-form-btn {
  width: 80%;
  height: 60px;
  line-height: 50px;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;  
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  border: none;
  user-select: none;
  border-radius: 2px;
  transition: all .3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.225);
  color: #FFF;
  background-color: #7fb636;
  margin-top: 25px;
  cursor: pointer;
}

/* Адаптивное меню */

.menu-icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: -5px;
}

.menu-icon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu-icon span:nth-child(1) {
  top: 0px;
}

.menu-icon span:nth-child(2), .menu__icon span:nth-child(3) {
  top: 13px;
}

.menu-icon span:nth-child(4) {
  top: 26px;
}

.main-nav.open .menu-icon span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.main-nav.open .menu-icon span:nth-child(2) {
  top: 15px;
  transform: rotate(45deg);
  transform-origin: center center;
}

.main-nav.open .menu-icon span:nth-child(3) {
  top: 15px;
  transform: rotate(-45deg);
  transform-origin: center center;
}

.main-nav.open .menu-icon span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

.main-nav.open ul {
  background-color: #296600;
  opacity: 1;  
}

/* Боковое меню */

ol, ul {
  list-style: none;
}

.pagination {
  position:fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 18px;
  z-index: 3;
}

.pagination a {
  display:block;
  height: 10px;
  margin-bottom: 0px;
  color: #444;
  position: relative;
  padding: 10px;
  white-space: nowrap;
}

.pagination>li:nth-child(1)>a.active {
  color: #fff;
}

.pagination a.active:after {
  box-shadow: inset 0 0 0 8px #BEE38E;
}

.pagination a .hover-text {
  position: absolute;
  right: 40px;
  top: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 12px;
  height: 12px;
  display: block;
  border: 2px solid #BEE38E;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
}

/* Анимация появления и исчезновения блока Хочу помочь */

@-webkit-keyframes fade-InRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fade-InRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(800px);
    -ms-transform: translateX(800px);
    transform: translateX(800px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-OutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
  }
}

@keyframes fade-OutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(800px);
    -ms-transform: translateX(800px);
    transform: translateX(800px);
  }
}


@media(max-width: 1200px) {
  
  /*  Деятельность */
  
  .action-point.air,
  .action-point.animals,
  .action-point.nature {
    flex-direction: column-reverse;
  }
  
  .action-point.tree,
  .action-point.water {
    flex-direction: column;
  }
  
  .action-point {
    margin-bottom: 20px;
  }
  
  video {
    height: 80%;
    margin: 25px 40px;
    width: calc(80% - 80px);
    padding: 0px;
  }

  .description {
    width: 80%;
  }
  
  .description h4 {
    margin-bottom: 25px;
  }
  
  .action-point.nature {
    margin-bottom: 180px;
  }
  
  
}

@media(max-width: 1100px) {
  
  /* Как сделать офис зелёным */

  .instruction-text {
    width: 260px;
    min-height: 80px;
    font-size: 16px;
  }

  .instruction-text1 {
    top: 0px;
    left: calc(50vw - 520px);
  }

  .instruction-text2 {
    top: 260px;
    left: calc(50vw - 520px);
  }

  .instruction-text3 {
    top: 0px;
    left: calc(50vw + 135px);
  }

  .instruction-text4 {
    top: 260px;
    left: calc(50vw + 135px);
  }


  .instruction-text1:before {
    left: 290px;
    top: 35px;
    transform-origin: 0 0;
    transform: rotate(30deg);
  }

  .instruction-text2:before {
    left: 290px;
    top: 25px;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .instruction-text3:before {
    left: -70px;
    top: 35px;
    transform-origin: right 0;
    transform: rotate(-30deg);
  }

  .instruction-text4:before {
    left: -70px;
    top: 25px;
    transform-origin: right 0;
    transform: rotate(30deg);
  }
}

@media(max-width: 1024px) {
  
  /*  Деятельность */
  .action-point {    
    padding: 0px;
  }
  
  /* Как сделать офис зелёным */

  .instruction-text {
    width: 220px;
    min-height: 100px;
    font-size: 16px;
  }

  .instruction-text1 {
    top: 0px;
    left: calc(50vw - 480px);
  }

  .instruction-text2 {
    top: 260px;
    left: calc(50vw - 480px);
  }

  .instruction-text3 {
    top: 0px;
    left: calc(50vw + 135px);
  }

  .instruction-text4 {
    top: 260px;
    left: calc(50vw + 135px);
  }


  .instruction-text1:before {
    left: 250px;
    top: 35px;
    transform-origin: 0 0;
    transform: rotate(30deg);
  }

  .instruction-text2:before {
    left: 250px;
    top: 25px;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .instruction-text3:before {
    left: -70px;
    top: 35px;
    transform-origin: right 0;
    transform: rotate(-30deg);
  }

  .instruction-text4:before {
    left: -70px;
    top: 25px;
    transform-origin: right 0;
    transform: rotate(30deg);
  }
}

@media(max-width: 968px) {
  /* Как сделать офис зелёным */

  .instruction-text {
    width: 200px;
    min-height: 120px;
    font-size: 16px;
  }

  .instruction-text1 {
    top: 0px;
    left: calc(50vw - 440px);
  }

  .instruction-text2 {
    top: 240px;
    left: calc(50vw - 440px);
  }

  .instruction-text3 {
    top: 0px;
    left: calc(50vw + 115px);
  }

  .instruction-text4 {
    top: 240px;
    left: calc(50vw + 115px);
  }


  .instruction-text1:before {
    left: 240px;
    top: 35px;
    transform-origin: 0 0;
    transform: rotate(30deg);
  }

  .instruction-text2:before {
    left: 240px;
    top: 65px;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .instruction-text3:before {
    left: -80px;
    top: 35px;
    transform-origin: right 0;
    transform: rotate(-30deg);
  }

  .instruction-text4:before {
    left: -80px;
    top: 65px;
    transform-origin: right 0;
    transform: rotate(30deg);
  }
}

@media(max-width: 868px) {
  /* Как сделать офис зелёным */
  
  .fade2 div img {
    margin: auto;
    width: 360px;
    height: 360px;
    position: relative;
    margin-bottom: 80px;
    margin-top: 100px;
  }

  .instruction-text {
    width: calc(50vw - 80px);
    min-height: 120px;
    font-size: 16px;
  }

  .instruction-text1 {
    top: -60px;
    left: 0px;
  }

  .instruction-text2 {
    top: 300px;
    left: 0px;
  }

  .instruction-text3 {
    top: -60px;
    left: calc(50vw - 40px);
  }

  .instruction-text4 {
    top: 300px;
    left: calc(50vw - 40px);
  }


  .instruction-text1:before {
    left: 100px;
    top: 115px;
    transform-origin: 0 0;
    transform: rotate(30deg);
  }

  .instruction-text2:before {
    left: 100px;
    top: -5px;
    transform-origin: 0 0;
    transform: rotate(-30deg);
  }

  .instruction-text3:before {
    left: 120px;
    top: 115px;
    transform-origin: right 0;
    transform: rotate(-30deg);
  }

  .instruction-text4:before {
    left: 120px;
    top: -5px;
    transform-origin: right 0;
    transform: rotate(30deg);
  }
  
  .fade2 .slick-dots li
  {
    margin: 0;
  }
  
  .title-green,
  h3.instruction-title p,
  .instruction h3 p {
    font-size: 32px;
  }
  
  .main-title h1 {    
    font-size: 80px;
  }

  .main-title h2 {
    font-size: 24px;
  }
}

@media(max-width: 768px) {

}

@media(max-width: 698px) {
  
  /* Адаптивное меню */
  .menu-icon{
    display: inline-block;
  }

  .main-nav ul {
    position: fixed;
    display: block;
    top: 13px;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    opacity: 0;
  }

  .main-nav ul li {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
  
  /* Что такое «Зелёный офис» */  
  .fade1 .slick-dots li

  {  
    width: 100px;
  }
  
  .fade1 .slick-dots li button

  {  
    width: 100px;    
  }
  
  .fade1 .slick-dots li button:before
  {    
    width: 100px;
  }
  
  .fade1 .slick-dots li:nth-child(2).slick-active button:before
  {
    content: "";
    background: url("img/svg/downarrow.svg") no-repeat 33px 20px / 34px, url("img/c1.png") no-repeat 0px 60px / auto;
    border: none;
  }

  .fade1 .slick-dots li:nth-child(3).slick-active button:before
  {
    background: url("img/svg/downarrow.svg") no-repeat 33px 20px / 34px, url("img/c2.png") no-repeat 0px 60px / auto;
    border: none;
  }

  .fade1 .slick-dots li:nth-child(4).slick-active button:before
  {
    background: url("img/svg/downarrow.svg") no-repeat 33px 20px / 34px, url("img/c3.png") no-repeat 0px 60px / auto;
    border: none;
  }

  .fade1 .slick-dots li:nth-child(5).slick-active button:before
  {
    background: url("img/svg/downarrow.svg") no-repeat 33px 20px / 34px, url("img/c4.png") no-repeat 0px 60px / auto;
    border: none;
  }
  
  .fade1 .slick-dots li:nth-child(2) button:before
  {
    content: "click me";
    font-size: 14px;
    font-family: 'OpenSans';
    text-align: center;
    color: #444;
    opacity: 1;
    background: url("img/svg/plus.svg") no-repeat 38px 20px / 24px, url("img/c1.png") no-repeat 0px 60px / auto;
    border: none;
  }

  .noclick:before
  {
    content: "" !important;
    font-size: 0px;
  }

  #slick-slide-control11:visited::before {
    content: "";
  }

  .fade1 .slick-dots li:nth-child(3) button:before
  {
    opacity: 1;
    background: url("img/svg/plus.svg") no-repeat 38px 20px / 24px, url("img/c2.png") no-repeat 0px 60px / auto;
    border: none;
  }

  .fade1 .slick-dots li:nth-child(4) button:before
  {
    opacity: 1;
    background: url("img/svg/plus.svg") no-repeat 38px 20px / 24px, url("img/c3.png") no-repeat 0px 60px / auto;
    border: none;
  }

  .fade1 .slick-dots li:nth-child(5) button:before
  {
    opacity: 1;
    background: url("img/svg/plus.svg") no-repeat 38px 20px / 24px, url("img/c4.png") no-repeat 0px 60px / auto;
    border: none;
  }


}

@media(max-width: 640px) {
  
  
}

@media(max-width: 570px) {

}

@media(max-width: 360px) {

}

@media(max-width: 320px) {

}